body {
  margin: 0;
  width: 100%;
  height: 100%;
}


/* .nav{
  height: 5%;
  width: 100%;
  color: black;
  background-color: black;
} 
*/

/* .nav h1{
  padding-left: 15px;
  color: blueviolet;
} */

h1{
  overflow: visible;
  position: fixed;
  color: orangered;
  padding-left: 30px;
}


.nav{
  display: inline-block;
  overflow: hidden;
  position: relative;
}


.loadermodal{
  display: flex;
  width: 30%;
  height: 30%;
  color: coral;
  background-color: cornsilk;
  justify-content: center;
  align-self: center;

}